/* Some kind of header tag is supposed to be here */

header{
    color: #926cf0;
}


/* You should have input here */
someinputhere {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

@keyframes rainbow-text  {
  0% { color: #22277A; }
  14.28% { color: #4066e0; } 
  28.56% { color: #b9bfff; }
  42.84% { color: #8b74bd; }
  57.12% { color: #7953a9; }
  71.4% { color: #663399; }
  85.68% { color: #52099b; }
  100% { color: #22277A; }
}

.rainbow {
  animation-name: rainbow-text;
  animation-duration: 5s; 
  animation-iteration-count: infinite; 
  animation-timing-function: linear; 
  font-size: 1.2em; 
  font-weight: bold
}
/* half of this class tag is in the html file already */

@keyframes wave {
  0% {
    transform: translateX(-10);
  }
  25% {
    transform: translateX(20px) rotate(5deg);
  }
  50% {
    transform: translateX(10) rotate(-5deg);
  }
  75% {
    transform: translateX(-20px) rotate(-5deg);
  }
  90% {
    transform: translateX(-10);
  }
  100% {
    transform: translateX(-5);
  }
}

.bold {
  display: inline-block;
  font-size: 1.1em;
  animation: wave 2s ease-in-out infinite;
}